.homelayout{
    width: 100%;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
}
.category{
    border-right: 2px solid #dcdcdc;
    padding-left: 60px;
}

@media only screen and (max-width:700px){
    .homelayout{
        display: flex;
        flex-direction: column;
    }
    .category{
        border: none;
    }
    .category p{
        display: inline-block;
        padding-right: 30px;
    }
}