.sign{
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 100vh;
    width: 100%;
}
.sign .imageholder img{
    width: 100%;
    height: 100%;
}
.formlayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
.title{
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
    margin: 15px 0;
}
.orstyle{
    /* margin:5px; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.orstyle div{
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}
.orstyle span{
    display: inline-block;
    color: grey;
    margin: 0 8px;
    padding: 3px 0;
}
.submit{
    display: block;
    background-color: #085dff;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 15px 0;
    width:100%;
    height: 50px;
    cursor: pointer;
}
.submit span{
    font-size: 20px;
    padding: 10px;
}
.googlesign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
    color: #387afc;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    border:1px solid #6b97fc;
    margin: 15px 0;
    width:100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.55);
    cursor: pointer;
    height: 50px;
}
.googlesign span{
    margin-left: 15px;
}
@media only screen and (max-width:850px){
    .sign{
        display: grid;
        grid-template-columns: 1fr 350px;
    }
}
@media only screen and (max-width:700px){
    .sign{
        display: grid;
        grid-template-columns: 1fr 300px;
    }
}
@media only screen and (max-width:640px){
    .sign{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .sign .imageholder{
        display: none;
    }
    .formlayout{
        padding: 25px 40px;
    }
}